{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure              {:mvn/version "1.10.3"}
           org.clojure/data.json            {:mvn/version "2.4.0"}
           org.clojure/data.csv             {:mvn/version "1.0.0"}
           semantic-csv/semantic-csv        {:mvn/version "0.2.1-alpha1"}
           time-literals/time-literals      {:mvn/version "0.1.5"}
           org.clojars.quoll/asami          {:mvn/version "2.1.2"}


           io.pedestal/pedestal.service     {:mvn/version "0.5.9"}
           io.pedestal/pedestal.route       {:mvn/version "0.5.9"}
           io.pedestal/pedestal.jetty       {:mvn/version "0.5.9"}
           luminus/ring-ttl-session         {:mvn/version "0.3.3"}
           org.slf4j/slf4j-simple           {:mvn/version "1.7.32"}
           hiccup                           {:mvn/version "1.0.5"}

           ;; Using the same version of Jetty as Pedestal, since upgrading will
           ;; create an incompatibility with newer versions of Jetty:
           ;; https://opennms.discourse.group/t/jetty-with-ssl-throws-error-with-keystores-with-multiple-certificates-are-not-supported/1489
           org.eclipse.jetty/jetty-servlets {:mvn/version "9.4.35.v20201120"}


           ;kuhumcst/cuphic           {:local/root "/Users/rqf595/Code/cuphic"}
           ;kuhumcst/rescope          {:local/root "/Users/rqf595/Code/rescope"}
           ;kuhumcst/recap            {:local/root "/Users/rqf595/Code/recap"}}
           kuhumcst/cuphic                  {:git/url "https://github.com/kuhumcst/cuphic.git"
                                             :sha     "6b728e2d964eeeb20c7795bb8d299e33401cce37"}
           kuhumcst/rescope                 {:git/url "https://github.com/kuhumcst/rescope.git"
                                             :sha     "901879bdfa489a70b26a1e9fdd381475207130ca"}
           kuhumcst/stucco                  {:git/url "https://github.com/kuhumcst/stucco.git"
                                             :sha     "46f46d8b394b72e531000429d47456e520e1b327"}}

 ;; For now, the backend alias only contains metabase/saml20-clj since it
 ;; brought in a Google Guava dependency that conflicted with shadow-cljs.
 ;; Using a separate alias for backend-only deps solves this.
 :aliases {:backend  {:extra-deps {metabase/saml20-clj {:mvn/version "2.0.0"}}}
           :frontend {:extra-paths ["dev"]
                      :extra-deps  {org.clojure/clojurescript {:mvn/version "1.10.879"}
                                    thheller/shadow-cljs      {:mvn/version "2.15.8"}
                                    metosin/reitit            {:mvn/version "0.5.15"}
                                    reagent                   {:mvn/version "1.1.0"}}}
           :test     {:extra-paths ["test"]}}}
