{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure            {:mvn/version "1.11.1"}
           org.clojure/data.json          {:mvn/version "2.4.0"} ; Pedestal SP
           org.clojure/data.csv           {:mvn/version "1.0.1"}
           org.clojure/math.combinatorics {:mvn/version "0.1.6"}
           dk.ative/docjure               {:mvn/version "1.18.0"}
           tick/tick                      {:mvn/version "0.5.0"} ; bundles time-literals

           io.pedestal/pedestal.service   {:mvn/version "0.5.10"}
           io.pedestal/pedestal.route     {:mvn/version "0.5.10"}
           io.pedestal/pedestal.jetty     {:mvn/version "0.5.10"}
           luminus/ring-ttl-session       {:mvn/version "0.3.3"}
           org.slf4j/slf4j-simple         {:mvn/version "2.0.3"}
           hiccup/hiccup                  {:mvn/version "1.0.5"}
           ring/ring-core                 {:mvn/version "1.9.6"}
           com.wsscode/transito           {:mvn/version "2021.07.04"}
           org.clojars.quoll/asami        {:mvn/version "2.3.2"}
           metabase/saml20-clj            {:mvn/version "2.0.2"}

           ;kuhumcst/cuphic           {:local/root "/Users/rqf595/Code/cuphic"}
           ;kuhumcst/rescope          {:local/root "/Users/rqf595/Code/rescope"}
           kuhumcst/cuphic                {:git/url "https://github.com/kuhumcst/cuphic.git"
                                           :sha     "f2b96835004467628351355a77fc3207a5beb557"}
           kuhumcst/rescope               {:git/url "https://github.com/kuhumcst/rescope.git"
                                           :sha     "901879bdfa489a70b26a1e9fdd381475207130ca"}}

 :aliases {:frontend {:extra-deps {org.clojure/clojurescript                       {:mvn/version "1.11.60"}
                                   thheller/shadow-cljs                            {:mvn/version "2.20.10"}
                                   tongue/tongue                                   {:mvn/version "0.4.4"}
                                   com.lambdaisland/glogi                          {:mvn/version "1.1.144"}
                                   metosin/reitit                                  {:mvn/version "0.5.18"}
                                   reagent/reagent                                 {:mvn/version "1.1.1"}
                                   reagent-utils/reagent-utils                     {:mvn/version "0.3.5"}
                                   lambdaisland/fetch                              {:mvn/version "1.1.60"}
                                   kitchen-async/kitchen-async                     {:mvn/version "0.1.0-SNAPSHOT"}}}
           :build    {:extra-paths ["dev/src"]
                      :extra-deps  {io.github.seancorfield/build-clj
                                    {:git/tag "v0.8.3" :git/sha "7ac1f8d"}}}
           :test     {:extra-paths ["test"]}}}
