{:deps     {:aliases [:frontend :test]}
 :dev-http {9000 {:root    "resources/public"
                  :handler dk.cst.glossematics.backend.index/shadow-handler}}
 :nrepl    {:port    9900
            :init-ns dev}
 :builds   {:app  {:target            :browser
                   :output-dir        "resources/public/js/compiled"
                   :asset-path        "/js/compiled"
                   :module-hash-names true
                   :modules           {:main {:init-fn dk.cst.glossematics.frontend.app/init!}}

                   ;; https://shadow-cljs.github.io/docs/UsersGuide.html#build-report
                   :build-hooks       [(shadow.cljs.build-report/hook)]}
            :test {:target   :browser-test
                   :test-dir "resources/public/js/test"
                   :devtools {:http-port 9100
                              :http-root "resources/public/js/test"}}}}
