{:app-name         #or [#env PEDESTALSP_APP_NAME "PedestalServiceProvider"]
 :sp-url           #env PEDESTALSP_SP_URL
 :idp-url          #env PEDESTALSP_IDP_URL
 :idp-cert         #env PEDESTALSP_IDP_CERT
 :credential       #include #env PEDESTALSP_CREDENTIAL

 ;; TODO: mixed in with the Pedestal SP conf, probably should be separate
 :https-credential #include #env PEDESTALSP_HTTPS_CREDENTIAL
 :ports            {:http  8080
                    :https 4433}}
