/* === ILLUSTRATION === */

.illustration__backdrop {
    transition: opacity 0.2s;
    position: fixed;
    pointer-events: none; /* Enable click-through. */
    background: rgba(0,0,0,0.9);
    opacity: 0;
    z-index: 998;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.illustration--fullscreen > .illustration__backdrop {
    pointer-events: auto; /* Disable click-through. */
    opacity: 1;
}

/* The actual image */
.illustration > img:first-of-type {
    transition: box-shadow 0.2s;
    width: 100%;
    cursor: zoom-in;
    box-shadow: var(--box-shadow-hidden);
}

.illustration > img:first-of-type:hover {
    box-shadow: var(--box-shadow);
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* The full-screen representation. */
.illustration--fullscreen > figure {
    display: flex;
    cursor: zoom-out;

    animation: fade-in 0.33s;
    z-index: 999;

    /* Full-screen */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.illustration--fullscreen > figure img {
    pointer-events: none; /* Enable click-through. */
    max-height: 100%;
    max-width: calc(100% - 332px); /* Leave 300px for figcaption. */
}

.illustration--fullscreen > figure figcaption {
    color: white;
    margin: 16px;
    width: calc(100% - 32px);
}

input.filter-slider {
    width: 100%;
}
