@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-2px, 0px) rotate(1deg); }
  30% { transform: translate(2px, 1px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-2px, 0) rotate(0deg); }
  70% { transform: translate(2px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(0px, -1px) rotate(-1deg); }
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

@keyframes fade-in-x {
  from {
    opacity: 1;
    transform: scaleX(0.33);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes fade-in-y {
  from {
    opacity: 1;
    transform: scaleY(0.33);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes fade-in-xy {
  from {
    opacity: 0;
    transform: scale(0.33);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pop-up {
  from {
    opacity: 0;
    transform: translateY(100vh);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-result {
  from {
    opacity: 0.33;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
  }
}

@keyframes glow {
  from {
    text-shadow:
    0 0 1px #ff4da6;
  }
  to {
    text-shadow:
    0 0 4px  #ff4da6,
    0 0 8px  #ff4da6,
    0 0 12px #ff4da6,
    0 0 16px #ff4da6,
    0 0 20px #ff4da6,
    0 0 24px #ff4da6,
    0 0 28px #ff4da6;
  }
}

@font-face {
    font-family: PoiretOne;
    src: url(/fonts/PoiretOne-aD0x.ttf);
}

* {
    font-family: Georgia, serif;
}

::placeholder {
    color: rgba(0,0,0,0.3);
}

body {
    margin: 0;
    background: var(--background-darker);
}

a {
    color: #1060d7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.25;
}

/* Reset for special links. */
nav a:hover {
    text-decoration: none;
}

nav {
    background-image: linear-gradient(180deg, #000 66%, #222 100%);
    box-shadow: var(--box-shadow-elevated);
    position: sticky;
    top: 0;
    z-index: 998;
    display: flex;
    align-items: flex-end;
    padding:
        var(--padding-xl)
        var(--padding-l)
        var(--padding-m)
        var(--padding-l);
}

nav, nav h1, nav a, nav button.language {
    transition: all 0.33s;
}

nav h1, nav a {
    color: #EFEFEF;
    letter-spacing: 4px;
    font-family: PoiretOne, sans-serif;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    max-width: fit-content; /* fixes #47 - inconsistent widths in Firefox */
}

nav h1 {
    margin-right: auto;
    font-size: 40px;
    display: inline;
}

nav a {
    text-decoration: none;
    color: #EFEFEF;
    padding: 0;
}

nav a:hover {
    animation: glow 1s ease-in-out infinite alternate;
}

nav a:first-child {
    margin-right: auto;
}

nav a:not(:first-child) {
    margin: 0;
    font-size: 20px;
    flex-grow: 0; /* Fix Firefox width issue */
}

nav a:not(:first-child) + a {
     margin-left: var(--margin-l);
}

nav a:not(:first-child)::first-letter {
    font-size: 40px;
    color: #ffc92e;
}

nav button.language {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: var(--margin);
    font-size: 24px;
    opacity: 0.33;
}

nav button.language:hover {
    animation: wiggle 2s ease-in;
    opacity: 1;
}

nav input[type=checkbox].bookmark {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    transition: all 0.2s;
    opacity: 0.33;
    cursor: pointer;
    margin-left: var(--margin-l);
    width: 24px;
    height: 32px;
    background: url(/images/star-empty.svg) no-repeat center;
    background-size: contain;
}

nav input[type=checkbox].bookmark:not(:disabled):hover {
    opacity: 1;
    animation: wiggle 2s ease-in;
}

nav input[type=checkbox].bookmark:checked {
     background: url(/images/star-filled.svg) no-repeat center;
     background-size: contain;
     opacity: 1;
}

.shell.reader-mode nav h1,
.shell.reader-mode button.language,
.shell.reader-mode nav a:not(:first-child),
.shell.reader-mode nav a:not(:first-child)::first-letter {
  font-size: 16px;
}

.shell.reader-mode nav input[type=checkbox].bookmark {
    width: 16px;
    height: 16px;
    margin-left: var(--margin);
}

.shell.reader-mode nav {
  padding: var(--padding-m);
}

.shell__content {
    padding: var(--padding-xl);
}

.shell .search-result .kvs-list {
    transition: all 0.66s;
}

/* While fetching, the search results blur out and become inactive. */
.shell.fetching .search-result .kvs-list {
    opacity: 0.5;
    filter: blur(5px);
    filter: blur(5px);
    pointer-events: none;
}

img.loading-indicator {
    pointer-events: none; /* Allow click-through. */
    transition: all 0.66s;
    transition-delay: 0; /* Should disappear quick. */
    position: fixed;
    opacity: 0;
    width: 100px;
    height: 100px;
    z-index: 999;
    top: calc(50vh - 50px);
    left: calc(50vw - 50px);
}

/* While fetching, the generic loading indicator starts to appear after 1s. */
.shell.fetching img.loading-indicator {
    opacity: 0.8;
    transform: scale(2);
    transition-delay: 1s;
}

.shell__content.fill-mode {
    padding: 0;
}

.shell__content.fill-mode > * {
    height: calc(100vh - 58px); /* 38xp + 20px */
    margin-top: 20px;
}

.reader {
    min-width: 80ch;
    margin: 0 auto;
}

.reader-preview input[type=file] {
    margin-bottom: 10px;
}

.search-page,
.index-page,
.main-page,
.reader-preview
{
    max-width: 90ch;
    margin: auto;
}

.text-content {
    animation: fade-in-result 0.33s ease-out;
    padding: var(--padding-l);
    border: var(--border-subtle);
    background: rgba(0,0,0,0.08);
    border-radius: var(--border-radius);
    font-family: Georgia, serif;
    font-size: 16px;
    color: var(--color);
    line-height: 1.5;
    letter-spacing: 1.25;
}

.text-content + .text-content {
    margin-top: var(--margin-l);
}

.text-content p {
    margin: 0;
}

.text-content > p + * {
    margin-top: var(--margin-l);
}

.text-content ul,
.index-page ul {
    margin: var(--margin-xl) 0 var(--margin-xl) var(--margin-l);
}

.text-content ul > li + li,
.index-page ul > li + li {
    margin-top: var(--margin);
}

.text-content aside {
    width: fit-content;
    background: rgba(255,255,255,0.33);
    margin: var(--margin-xl) auto;
    border: var(--border-subtle);
}

.search-form {
    display: flex;
    flex-direction: column;
    font-family: Georgia, serif;
    letter-spacing: 1.25;
    font-size: 16px;
    margin: var(--margin) 0 var(--margin-xl) 0;
}

.search-form > * + * {
    margin-top: 16px;
}

label {
    color: var(--color);
    letter-spacing: 1.5;
    text-transform: uppercase;
    padding: 4px;
}

.search-form__item {
    display: inline-flex;
    align-items: center;

    animation: fade-in-xy 0.33s;
    transition: all 0.2s;
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: white;
    padding: 4px 4px 4px 12px;
    margin: 12px 6px 0 0;
    white-space: nowrap;
    color: var(--color);
}

.search-form__item:last-child {
    margin-right: 0;
}

.search-form__item > button,
ul.bookmarks > li button {
    all: unset; /* https://stackoverflow.com/questions/2460100/remove-the-complete-styling-of-an-html-button-submit */
    cursor: pointer;
    outline: revert;
    color: transparent;

    transition: all 0.33s;
    background: url(/images/x-black.svg) no-repeat center;
    background-size: 12px;
    line-height: 16px;
    height: 16px;
    width: 20px;
    vertical-align: text-bottom;
}

.search-form__item > button:hover,
ul.bookmarks > li button:hover {
    transform: rotate(90deg);
    background-size: 20px;
}

.search-form__item > button {
    margin-left: 4px;
}

ul.bookmarks > li button {
    margin-right: 4px;
}

img.entity-icon {
    height: var(--font-size);
    width: var(--font-size);
    margin-right: var(--margin);
}

img.nav-icon {
    transition: all 0.2s;
    height: 48px;
    vertical-align: bottom;
    margin-bottom: -11px;
    opacity: 0.66;
}

img.nav-icon:hover {
    opacity: 1;
}

.reader-mode img.nav-icon {
    height: 32px;
    margin-bottom: -10px;
}

a.action {
    font-size: var(--font-size-l);
}

img.action__icon {
    transition: all 0.2s;
    height: var(--font-size-l);
        width: var(--font-size-l);
    opacity: 0.33;
    margin-left: var(--margin);
    vertical-align: text-top;
}

a:hover img.action__icon {
    transform: scale(1.1);
    opacity: 1;
}

.search-form legend > button {
    all: unset; /* https://stackoverflow.com/questions/2460100/remove-the-complete-styling-of-an-html-button-submit */
    cursor: pointer;
    outline: revert;
    color: transparent;

    transition: all 0.33s;
    background: url(/images/x-black.svg) no-repeat center;
    background-size: 16px;
    width: 20px;
    vertical-align: text-bottom;
    margin-left: 4px;
}

.search-form legend > button:hover {
    transform: rotate(90deg);
    background-size: 24px;
    opacity: 1;v
}

.search-form__item-key {
    color: rgba(0,0,0,0.66);
    text-transform: capitalize;
    font-variant: small-caps;
    margin-right: var(--margin-s);
}

/* TODO: fix - no outline when tabbing to this element. */
.search-form__item-select {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    margin: -12px; /* Counter parent margin. */
    min-height: 30px;
    font-size: 16px;
    width: calc(100% - 24px);
}

details summary {
    font-size: 12px;
    color: var(--color);
    margin: 0;
    text-align: right;
    text-transform: uppercase;
    cursor: pointer;
}

details[open] summary {
    margin-bottom: var(--margin);
}

.input-row
{
    display: flex;
    align-items: center;
}

.input-row > * + *
{
    margin-left: var(--margin);
}

.input-row + .input-row {
    margin-top: var(--margin);
}

.input-row input[type=list],
.input-row #sort-key,
.input-row #condition,
.input-row input[type=date],
.input-row input[type=number]
{
    flex-grow: 1;
}

.input-row input[type=list],
.input-row input[type=date],
.input-row input[type=number],
.input-row input[type=checkbox],
.input-row input[type=submit],
.input-row button,
.input-row select
{
    appearance: none;

    transition: all 0.33s;
    font-size: 16px;
    color: var(--color);
    border: var(--border);
    border-radius: var(--border-radius);
    background: var(--background);
    padding: 4px 6px;
    line-height: 20px;

    /* Fix Safari issue in search result paging. */
    margin-top: 0;
    margin-bottom: 0;
}

.input-row input[type=date]::placeholder {
    color: red;
    opacity: 1;
}

/* Safari weirdness: https://stackoverflow.com/questions/69888903/text-color-is-not-working-on-safari-iphone*/
.input-row input[type=date] {
    -webkit-text-fill-color: rgba(0,0,0,0.9);
    line-height: 16px;
}

.input-row input[type=submit] {
    cursor: pointer;
}

.input-row select:active {
    color: black;
}

.input-row select:not(:disabled) {
    cursor: pointer;
}

*:disabled
{
    opacity: 0.33;
}

.search-form fieldset {
    animation: fade-in-y 0.33s;
    border: var(--border-subtle);
    border-radius: 4px;
    padding: 8px 24px 24px 24px;
}

.input-row input.not-allowed {
    animation: shake 0.2s;
}

.input-row input.bad-input {
    box-shadow: 0 0 8px 4px #d64646;
}

.input-row input.good-input {
    box-shadow: 0 0 8px 4px #70e400;
}

/* yellow -- when e.g. input is technically valid, but already applied. */
.input-row input.good-input.not-allowed {
    box-shadow: 0 0 8px 4px #EE9c00;
}

.search-form fieldset legend {
    font-size: 20px;
    color: #333;
    padding: 0 8px;
    text-transform: uppercase;
}

.search-result__paging {
    animation: fade-in-result 0.33s ease-out;
    border: var(--border);
    border-radius:
        var(--border-radius)
        var(--border-radius)
        0
        0;
    background:rgba(0,0,0,0.2);
    box-shadow:
        inset 0 -16px 16px rgba(0,0,0,0.1),
        var(--box-shadow-elevated);
    z-index: 998;

    transition: all 0.33s;
    position: sticky;
    top: 87px;
}

.reader .search-result__paging {
    position: static;
    border-radius: var(--border-radius);
    margin-bottom: var(--margin-l);
    box-shadow: none;
}

.reader .search-result__paging:last-child {
    margin: var(--margin-l) 0 0 0;
}

.search-result__paging .input-row {
    justify-content: space-between;
    align-items: stretch;
}

.search-result__paging button,
.search-result__paging select {
    width: 120px;
    cursor: pointer;
    background: rgba(255,255,255,0.7);
    color: var(--color);
    border: none;
    border-right: var(--border);
    border-left: var(--border);
    border-radius: 0;
}

.search-result__paging button:not([disabled]):hover,
.search-result__paging select:not([disabled]):hover {
    background: rgba(255,255,255,0.95);
}

.search-result__paging button:first-child {
    border-radius: var(--border-radius) 0 0 0;
    border-left: none;
}

.reader .search-result__paging button:first-child {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.search-result__paging button:last-child {
    border-radius: 0 var(--border-radius) 0 0;
    border-right: none;
}

.reader .search-result__paging button:last-child {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    border-right: none;
}

.search-result__paging select {
    min-width: 120px;
    text-align: center;
}

.reader .search-result__paging select {
    width: fit-content;
}

.search-result__paging button[disabled] {
    cursor: not-allowed;
}

table.entity-metadata {
    border-collapse: collapse;
    width: 100%;
}

table.entity-metadata td {
    padding: var(--padding);
    vertical-align: text-top;
}

table.entity-metadata td:first-child {
    width: 1px;
    padding-left: var(--padding-l);
    text-align: right;
    font-variant: small-caps;
}

/* Creates an index card like appearance. */
table.entity-metadata tr {
    border-bottom: 1px solid #ddd;
}

.text-content table.entity-metadata tr {
    border-bottom: var(--border-subtle);
}

table.entity-metadata tr:last-child {
    border-bottom: none;
}

table.entity-metadata dl {
    margin: 0;
}

table.entity-metadata dl dt {
    text-transform: uppercase;
    font-size: var(--font-size-s);
    border-bottom: var(--border-subtle);
    width: fit-content;
    padding-bottom: var(--padding-s);
    margin-bottom: var(--margin);
}

table.entity-metadata dl dd {
    margin: 0;
}

table.entity-metadata ul {
    padding-left: var(--padding-l);
    list-style-type: none;
}

table.entity-metadata dd > ul {
    margin: 0 0 var(--margin-l) 0;
}

table.entity-metadata td > ul {
    margin: 0;
    padding: 0;
}

table.entity-metadata dd:last-child > ul {
    margin: 0;
}

table.entity-metadata ul li {
    padding: 0;
}

table.entity-metadata ul li + li {
    margin-top: var(--margin-s);
}

.main-page h1,
.index-page h1 {
    text-align: center;
    font-weight: normal;
    font-family: PoiretOne, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: var(--margin-xl);
}


h2 {
    text-align: center;
    font-weight: normal;
    font-family: PoiretOne, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 0;
    margin-bottom: var(--margin-l);
}

.index-page dl,
.index-page ul {
    margin: 0;
}

.index-page h1 > img {
    width: 32px;
    height: 32px;
    vertical-align: text-top;
}

.index-page__skip-links {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    word-spacing: 6px;
    line-height: 1.5;
    margin: 0;}

.index-links {
    text-align: center;
    line-height: 1.5;
    margin: 0;
    font-size: 20px;
    font-family: PoiretOne, sans-serif;
}

.index-links a, .index-links span {
    white-space: nowrap;
    font-family: PoiretOne, sans-serif;
}

hr {
    border: none;
    border-top: var(--border-subtle);
    margin: var(--margin-l) 0;
}

dl.kvs-list {
    margin: 0; /* reset */
    animation: fade-in-result 0.33s ease-out;
}


dl.kvs-list dt {
    transition: all 0.33s;

    position: sticky;
    top: 87px;
    scroll-margin: 87px; /* Fix scrollIntoView for sticky elem. */

    font-size: 16px;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
    letter-spacing: 2px;
    background: var(--background);
    border: var(--border);
    border-top: var(--border);
    border-bottom:none;
    padding: var(--padding-l);
}

dl.kvs-list dt:first-child {
    border-top: var(--border);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

dl.kvs-list dd {
    margin: 0;
    border: var(--border);
    border-top: none;
    border-bottom: none;
    background: var(--background);
    font-family: Georgia, serif;
    font-size: 16px;
    color: var(--color);
    line-height: 1.5;
    letter-spacing: 1.25;
}

dl.kvs-list dd:last-child {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    border-bottom: var(--border);
    padding: var(--padding-l);
}

/* Pseudo-3D separation. */
dl.kvs-list dd:not(:last-child) {
    box-shadow: inset 0 -4px 8px rgba(0,0,0,0.2);
    padding:
        var(--padding-l)
        var(--padding-l)
        var(--padding-xl)
        var(--padding-l);
}

.search-page dl.kvs-list dt {
    position: static;
    text-align: center;
}

/* The :not(:first-child) part deals with lack of paging. */
.search-page dl.kvs-list:not(:first-child) dt:first-child {
    border-radius: 0;
    border-top: none;
}

.index-page dl.kvs-list {
    margin-top: var(--margin-xl);
}

.index-page dl.kvs-list dt {
    font-size: 24px;
    padding: var(--padding) var(--padding-l);
}

.index-page ul {
    list-style-type: '➤';
    padding-left: var(--padding-xl);
}

.index-page ul li {
    padding-left: var(--padding-l);
}

.index-page ul li + li {
    margin-top: var(--margin-l);
}

.index-page ul li::marker {
    color: #999;
}

/* Responsive media query changes for small screens. */
@media only screen and (max-width: 850px) {
  nav h1,
  nav button.language,
  nav a:not(:first-child),
  nav a:not(:first-child)::first-letter {
    font-size: 16px;
  }
  nav {
    padding: var(--padding-m);
  }
  img.nav-icon {
      height: 32px;
      margin-bottom: -10px;
  }
  nav input[type=checkbox].bookmark {
      width: 16px;
      height: 16px;
      margin-left: var(--margin);
    }

  dl.kvs-list dt {
      top: 35px;
      scroll-margin: 35px;
  }

  .search-result__paging {
    top: 38px;
  }
}

@media only screen and (max-width: 600px) {
    nav h1,
    nav button.language,
    nav a:not(:first-child),
    nav a:not(:first-child)::first-letter {
      font-size: 12px;
    }
    img.nav-icon {
          height: 24px;
          margin-bottom: -9.5px;
      }

  nav input[type=checkbox].bookmark {
    width: 12px;
    height: 12px;
    margin-left: var(--margin);
  }

    dl.kvs-list dt {
        top: 30px;
        scroll-margin: 30px;
    }

    .search-result__paging {
      top: 30px;
    }
}

.reader-content {
    transition: var(--transition);
    padding: var(--padding-l);
    margin: 0;
    background: var(--background);
    border: var(--border);
    border-radius: var(--border-radius);
}

/* Opposite of <strong> or <em> */
.weak {
    color: var(--color-subtle);
}

.login-status {
    display: flex;
    align-items: baseline;
}

button.logout-button,
button.login-button {
    align-items: center;
    transition: all 0.2s;
    color: rgba(0,0,0,0.66);
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    word-spacing: 2;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: var(--padding) var(--padding-xl);
    margin-left: auto;
}

button.logout-button:hover,
button.login-button:hover {
    border-color: black;
}

button.logout-button:active,
button.login-button:active {
    transform: scale(99%);
    filter: none;
}

button.logout-button *,
button.login-button * {
    margin: auto;
}

button.logout-button {
    background: var(--tab-background-2);
}

button.login-button {
    background: rgba(102,184,64,1) url(/images/texture/natural-paper.png);
}

button.logout-button img,
button.login-button img {
    transition: all 0.33s;
    height: 20px;
    width: 20px;
    margin-right: var(--margin);
    opacity: 0.66;
}

.main-page em {
    font-weight: bold;
    font-style: italic;
    font-size: 20;
}

.main-page table.entity-metadata td:first-child {
    font-weight: bold;
}
