

/*------------------- Horizontal / Vertical lines ----------------*/

/* style for ethers */
.timeline-ether-lines{border-color:#666; border-style:dotted; position:absolute;}
.timeline-horizontal .timeline-ether-lines{border-width:0 0 0 1px; height:100%; top: 0; width: 1px;}
.timeline-vertical .timeline-ether-lines{border-width:1px 0 0; height:1px; left: 0; width: 100%;}



/*---------------- Weekends ---------------------------*/
.timeline-ether-weekends{
	position:absolute;
	background-color:#FFFFE0;
}

.timeline-vertical .timeline-ether-weekends{left:0;width:100%;}
.timeline-horizontal .timeline-ether-weekends{top:0; height:100%;}


/*-------------------------- HIGHLIGHT DECORATORS -------------------*/
/* Used for decorators, not used for Timeline Highlight              */
.timeline-highlight-decorator,
.timeline-highlight-point-decorator{
	position:absolute;
	overflow:hidden;
}

/* Width of horizontal decorators and Height of vertical decorators is
   set in the decorator function params */
.timeline-horizontal .timeline-highlight-point-decorator,
.timeline-horizontal .timeline-highlight-decorator{
	top:0;
  height:100%;
}

.timeline-vertical .timeline-highlight-point-decorator,
.timeline-vertical .timeline-highlight-decorator{
	width:100%;
	left:0;
}

.timeline-highlight-decorator{background-color:#FFC080;}
.timeline-highlight-point-decorator{background-color:#ff5;}


/*---------------------------- LABELS -------------------------*/
.timeline-highlight-label {
  position:absolute; overflow:hidden; font-size:200%;
  font-weight:bold; color:#999; }


/*---------------- VERTICAL LABEL -------------------*/
.timeline-horizontal .timeline-highlight-label {top:0; height:100%;}
.timeline-horizontal .timeline-highlight-label td {vertical-align:middle;}
.timeline-horizontal .timeline-highlight-label-start {text-align:right;}
.timeline-horizontal .timeline-highlight-label-end {text-align:left;}


/*---------------- HORIZONTAL LABEL -------------------*/
.timeline-vertical .timeline-highlight-label {left:0;width:100%;}
.timeline-vertical .timeline-highlight-label td {vertical-align:top;}
.timeline-vertical .timeline-highlight-label-start {text-align:center;}
.timeline-vertical .timeline-highlight-label-end {text-align:center;}


/*-------------------------------- DATE LABELS --------------------------------*/
.timeline-date-label {
  font-family: PoiretOne, Helvetica, sans-serif;
  position: absolute;
  border: solid #aaa;
  color: black;
  opacity: 0.8;
  font-size: 20px;
  line-height: 32px;
  padding: 4px;
}
.timeline-date-label-em {}

/* horizontal */
.timeline-horizontal .timeline-date-label{border-width:0 0 0 1px;}
.timeline-horizontal .timeline-date-label-em{height:2em}

/* vertical */
.timeline-vertical .timeline-date-label{border-width:1px 0 0;}
.timeline-vertical .timeline-date-label-em{width:7em}


/*------------------------------- Ether.highlight -------------------------*/
.timeline-ether-highlight{
    position:absolute;
    background-color: #fff;
    height: 100%;
    border-radius: 4px;
}


/*------------------------------ EVENTS ------------------------------------*/
.timeline-event-icon, .timeline-event-label,.timeline-event-tape{
	position:absolute;
	cursor:pointer;
}

.timeline-event-tape,
.timeline-small-event-tape,
.timeline-small-event-icon{
	background-color:#58A0DC;
	overflow:hidden;
}

.timeline-small-event-tape,
.timeline-small-event-icon{
	position:absolute;
}
  
/*--------------------------------- TIMELINE-------------------------*/
.timeline-ether-bg{width:100%; height:100%;}
#timeline-band-0 .timeline-ether-bg{
    background: var(--background-darker);
}
#timeline-band-1 .timeline-ether-bg{
   background: var(--tab-background-1);
   border-top: var(--border);
   box-shadow:  0 -8px 8px rgba(0,0,0,0.1);
}
#timeline-band-2 .timeline-ether-bg{background-color:#ccc}
#timeline-band-3 .timeline-ether-bg{background-color:#aaa}

/*  16*16 px icon dimensions.
    Must be aligned with dimensions set in themes.js */
.timeline-event-icon > img {
    height: 10px;
    padding: 2px;
    background: white;
    border: var(--border);
    border-radius: 8px;
}
.timeline-event-icon > img[src="/images/heart-2-fill.svg"] {
    border-color: #dd82dd;
}
.timeline-event-icon > img[src="/images/book-fill.svg"] {
    border-color: #779eff;
}
.timeline-event-icon > img[src="/images/book-open-line.svg"] {
    border-color: #169516;
}
.timeline-event-icon > img[src="/images/earth-fill.svg"] {
    border-color: #ff663c;
}
.timeline-event-icon > img[src="/images/group-fill.svg"] {
    border-color: #7a4907;
}
.timeline-event-label {
    padding: 2px 6px;
    border: var(--border-subtle);
    background: var(--background);
    box-shadow: var(--box-shadow-container);
    font-family: Georgia, serif;
    font-size: 16px;
    color: var(--color);
    letter-spacing: 1.25;
}
