@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-2px, 0px) rotate(1deg); }
  30% { transform: translate(2px, 1px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-2px, 0) rotate(0deg); }
  70% { transform: translate(2px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(0px, -1px) rotate(-1deg); }
}

@keyframes search-fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes item-fade-in {
  from {opacity: 0;}
  to {opacity: 0.5;}
}

@font-face {
    font-family: PoiretOne;
    src: url(/fonts/PoiretOne-aD0x.ttf);
}

body {
    margin: 0;
    background: #EDEDED;
}

.shell__logo {
    background: #111;
}

.shell__logo a {
    text-decoration: none;
}

.shell__logo h1 {
    color: #DDD;
    letter-spacing: 4px;
    font-family: PoiretOne;
    font-size: 48px;
    text-align: left;
    text-transform: uppercase;
    padding: 24px 24px 4px 24px;
    border-bottom: 24px solid #662211;
}

.shell__logo span {
    color: #EEAAAA;
    font-size: 24px;
}

.shell__content {
    padding: 0 24px;
}

.reader {
    min-width: 80ch;
    margin: 0 auto;
}

.search-page {
    max-width: 120ch;
    margin: auto;
}

.search-form {
    padding: 16px;
    background-color: #662211;
    border: 1px solid #333;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    font-family: Georgia, serif;
    letter-spacing: 1.25;
    font-size: 16px;
}

.search-form > * + * {
    margin-top: 16px;
}

.search-form label {
    color: white;
    opacity: 0.7;
    letter-spacing: 1.5;
    text-transform: uppercase;
    padding: 4px;
}

.search-form label:hover {
    opacity: 0.8;
}

.search-form__item {
    animation: item-fade-in 1s;
    transition: all 0.2s;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 4px;
    opacity: 0.5;
    background-color: rgba(255,255,255,0.2);
    padding: 4px 4px 4px 12px;
    margin-right: 4px;
    white-space: nowrap;
    font-style: italic;
    line-height: calc(28px + 1ch);
    color: white;
}

.search-form__item:last-child {
    margin-right: 0;
}

.search-form__item:hover {
    opacity: 0.8;
}

.search-form__item > button {
    all: unset; /* https://stackoverflow.com/questions/2460100/remove-the-complete-styling-of-an-html-button-submit */
    cursor: pointer;
    outline: revert;
    color: transparent;

    transition: all 0.33s;
    background: url(/images/x-white.svg) no-repeat center;
    background-size: 12px;
    line-height: 16px;
    width: 20px;
    vertical-align: text-bottom;
    margin-left: 4px;
}


.search-form__item > button:hover {
    transform: rotate(90deg);
    background-size: 20px;
}

.search-form legend > button,
.search-form__between > button {
    all: unset; /* https://stackoverflow.com/questions/2460100/remove-the-complete-styling-of-an-html-button-submit */
    cursor: pointer;
    outline: revert;
    color: transparent;

    transition: all 0.33s;
    background: url(/images/x-white.svg) no-repeat center;
    background-size: 16px;
    width: 20px;
    vertical-align: text-bottom;
    margin-left: 4px;
}


.search-form legend:hover {
    opacity: 0.8;
}

.search-form legend > button:hover {
    transform: rotate(90deg);
    background-size: 24px;
    opacity: 1;
}

.search-form__item-key {
    font-weight: bold;
    font-variant: small-caps;
    opacity: 0.5;
    border-right: 1px solid white;
    margin-right: 8px;
}

.search-form__input,
.search-form__order,
.search-form__between
{
    display: flex;
    align-items: center;
}

.search-form__input > * + *,
.search-form__order > * + *,
.search-form__between > * + *
{
    margin-left: 8px;
}

.search-form__input input[type=list],
.search-form__order #sort-key,
.search-form__between input[type=date],
.search-form__between input[type=number]
{
    flex-grow: 1;
}

.search-form input[type=list],
.search-form input[type=date],
.search-form__between input[type=number],
.search-form input[type=checkbox],
.search-form select {
    appearance: none;


    min-height: 28px;
    min-width: 28px;
    font-size: 16px;
    color: rgba(0,0,0,0.9);
    border: 1px solid white;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.6);
}

.search-form input[type=list],
.search-form input[type=checkbox],
.search-form select {
    padding: 4px 8px;
}

.search-form input[type=date]::placeholder {
    color: red;
    opacity: 1;
}

.search-form input[type=date] {
    padding: 0 8px; /* TODO: something off about input[type=date] top-padding */

    /* Safari weirdness: https://stackoverflow.com/questions/69888903/text-color-is-not-working-on-safari-iphone*/
    -webkit-text-fill-color: rgba(0,0,0,0.9);
}

.search-form select:active {
    color: black;
}

.search-form select:not(:disabled) {
    cursor: pointer;
}

.search-form input:disabled, select:disabled {
    opacity: 0.2;
}

.search-form fieldset {
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 4px;
    padding: 12px 24px 16px 24px;
}

.search-form input.not-allowed {
    animation: shake 0.2s;
}

.search-form input.bad-input {
    background-color: #d64646;
}

.search-form input.good-input {
    background-color: #59ba4a;
}

/* yellow -- when e.g. input is technically valid, but already applied. */
.search-form input.good-input.not-allowed {
    background-color: #f6d348;
}

.search-form legend {
    color: white;
    opacity: 0.7;
    padding: 0 8px;
    text-transform: uppercase;
}

.search-result {
    animation: search-fade-in 0.5s;
    border-radius: 6px;
    border: 1px solid #333;
    background-color: #DDD;
}

.search-result__paging {
    display: flex;
}

.search-result__paging > button {
    flex-grow: 1;
    cursor: pointer;
}

.search-result__paging > button[disabled] {
    cursor: not-allowed;
}

.search-result__paging-description {
    padding: 8px;
    text-align: center;
    font-size: 24px;
    min-width: 20ch;
}

.search-result__items {
    padding: 16px;
    font-size: 16px;
}

.search-result__items dd + dt {
    margin-top: 24px;
}
