/* The head is an independent block. */
.tab-head {
    display: flex;
}

.tab-head label {
    padding: 10px;
    display: inline-block;
    background: #EFEFEF;
    border-bottom: 1px solid #888;
    border-top: 1px solid #888;
    border-left: 1px solid #888;
}

.tab-head label:last-of-type {
    border-right: 1px solid #888;
}

/* The spacer element is need to draw the bottom line of the tabs. */
.tab-head__spacer:last-child {
    flex-grow: 1;
    border-bottom: 1px solid #888;
}

.tab-head input[checked] + label {
    background: white;
    border-bottom: none;
}

.tab-head input[type=radio] {
    display: none;
}

/* The body is also an independent block. */
.tab-body {
    border: 1px solid #888;
    padding: 10px;
}

/* The visual merging of tab-head and tab-body is only based on placement. */
.tab-head + .tab-body {
    border-top: none;
}
