:root {
    /* Defaults. */
    --background: #FFF url(/images/texture/groovepaper.png);
    --border: 1px solid #666;
    --border-subtle: 1px solid #AAA;
    --border-color: #666;
    --border-radius: 4px;
    --border-width: 1px;
    --box-shadow: 0 0 8px 0 rgba(0,0,0,0.75);
    --color: #222;
    --filter: brightness(1);
    --font-size: 14px;
    --margin: 8px;
    --padding: 8px;
    --transition: all 0.2s;

    /*  Grid sizing (for width and height).

        The default grid is centred on 4px increments except for --grid-2.
        For the higher values some of the 4px increments are skipped.
        The system mirrors common font size choices in e.g. Word processors.
    */
    --grid-2: 2px;
    --grid-4: 4px;
    --grid-8: 8px;
    --grid-12: 12px;
    --grid-16: 16px;
    --grid-24: 24px;
    --grid-32: 32px;
    --grid-48: 48px;
    --grid-64: 64px;

    /* Variations. */
    --background-darker: #EDEAE8 url(/images/texture/asfalt-dark.png);
    --box-shadow-hidden: 0 0 0 0 rgba(0,0,0,0);
    --box-shadow-elevated: 0 4px 4px rgba(0,0,0,0.3);
    --color-subtle: #AAA;
    --color-very-subtle: #DDD;
    --font-family-heading: Futura, sans-serif;
    --font-family-metadata: "Lucida Console", Monaco, monospace;
    --font-size-s: 12px;
    --inactive-filter: brightness(0.9);
    --inactive-filter-focus: brightness(1);
    --inactive-border: 1px solid #DDD;
    --margin-s: 4px;
    --margin-m: 8px;
    --margin-l: 16px;
    --margin-xl: 32px;
    --padding-s: 4px;
    --padding-m: 8px;
    --padding-l: 16px;
    --padding-xl: 32px;
    --transparent-border: 1px solid transparent;

    /* Transformations. */
    --transform-elevated: scale(1.04);

    /* Custom. */
    --tab-background-1: #ffc92e url(/images/texture/natural-paper.png); /* yellow */
    --tab-background-2: #ff663c url(/images/texture/natural-paper.png); /* red */
    --tab-background-3: #779eff url(/images/texture/natural-paper.png); /* blue */
}
